---
layout: default
section: blog
---

<div class='listing col6 pad4h margin3'>
  <div class='heading'>
    <h1>{{page.character-name}}</h1>
  </div>
  <div class='col12 character-portrait'>
    {% if page.portrait %}
      {% if page.portrait contains 'http' %}
        {% capture url %}{{page.portrait}}{% endcapture %}
      {% else %}
        {% capture url %}{{site.baseurl}}{{page.portrait}}/{% endcapture %}
      {% endif %}
      <img src='{{url}}' alt='' />
    {% else %}
      <img src='https://cdn1.iconfinder.com/data/icons/UltraBuuf/512/Zangief.png' alt='placeholder-portrait' />
    {% endif %}
  </div>
  <div class='col12 character-specs'>
    {% if page.player %}
      <p><strong>Player: </strong>{{ page.player }}</p>
    {% endif %}
    {% if page.class %}
      <p><strong>Class: </strong>{{ page.class }}</p>
    {% endif %}
    {% if page.race %}
      <p><strong>Race: </strong>{{ page.race }}</p>
    {% endif %}
    {% if page.background %}
      <p><strong>Background: </strong>{{ page.background }}</p>
    {% endif %}
    {% if page.trinket %}
      <p><strong>Trinket: </strong>{{ page.trinket }}</p>
    {% endif %}
  </div>
  <div class='prose'>
    {{content}}
  </div>
</div>
