---
title: 'Sunday Game Brunch'
---
<!DOCTYPE html>
<html>
<head>
  <title>Sunday Game Brunch</title>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  {% include og-tags.html %}
  <link rel='shortcut icon' href='{{site.baseurl}}/img/favicon.ico' type='image/x-icon' />
  <link href='{{site.baseurl}}/site.css' rel='stylesheet' />
</head>
<body>
  <div class='container'>
    <div class='header-bg col12 clearfix'>
      <div class='header col10 margin1 pad4h'>
        <div class='clearfix col6'>
          <a href='{{site.baseurl}}/'><h1 class='header-title'>Sunday Game Brunch</h1></a>
        </div>
        <div class='header-menu clearfix col6'>
          <div class='menu fr'>
            <a class='{% if page.section == "blog" %}active{% endif %}' href='{{site.baseurl}}/'>Wiki</a>
            <a class='{% if page.url == "/about/" %}active{% endif %}' href='{{site.baseurl}}/about'>About</a>
            <a href='//github.com/dennerkrans/sunday-game-brunch'>Join on GitHub</a>
          </div>
        </div>
      </div>
    </div>
    {{content}}
  </div>
  <script src='{{site.baseurl}}/site.js'></script>
</body>
